@import url(https://db.onlinewebfonts.com/c/ac437ca8426dbd7386bffda59c59a599?family=Bariol-Regular);
@import url("https://fonts.cdnfonts.com/css/myriad-web-pro");

.container-fluid {
  max-width: 1700px !important;
}

.container {
  max-width: 990px !important;
}

.section-one {
  height: 746px;
  background-image: url("assets/images/section-one.png");
  background-size: cover;
}

.navbar-padding {
  padding: 35px 0;
}

.nav-item {
  margin-left: 33px;
  font-size: 16px;
}

.nav-item .active {
  width: 70px;
  border-radius: 3px;
  padding: 4px 8px;
}

/* font styles */
.arial {
  font-family: "Arial", sans-serif;
}

.bariol {
  font-family: "Bariol-Regular", sans-serif;
}

.myriad {
  font-family: "Myriad Web Pro", sans-serif;
}

.navbar-brand {
  font-size: 35px !important;
  letter-spacing: 3px;
  line-height: 28px;
  filter: drop-shadow(0px 1px 0.5px #c34b2a);
  margin-top: 6px;
  margin-left: 3px;
}

.sub-title {
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-top: -10px;
}

.navbar-logo {
  top: 25.5px;
  left: 26px;
}

.main-title {
  font-size: 60px;
  letter-spacing: 9px;
  line-height: 24px;
  filter: drop-shadow(0px 1px 0.5px #c34b2a);
  margin-top: 70px;
  margin-bottom: 32px;
}

/* carousel styles  */

.carousel-text {
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: 24px;
  filter: drop-shadow(0px 1px 0.5px #c34b2a);
}

.carousel-item img {
  margin-left: 324px;
  margin-top: 4px;
}

.carousel-control-prev img {
  margin-bottom: 160px;
  margin-left: 140px;
}

.carousel-control-next img {
  margin-bottom: 160px;
  margin-right: 140px;
}

/* section two style */

.section-two {
  height: 368px;
  background-color: #232324;
}

.section-two-layout {
  margin-left: 10px;
  margin-right: 10px;
}

.section-two h2 {
  font-size: 40px;
  letter-spacing: 6.5px;
  line-height: 24px;
}

.section-two p {
  font-size: 20px;
  letter-spacing: 1px;
  color: #d94948;
  margin-bottom: 28px;
}

.section-two h3 {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 10px;
}

.section-two h4 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 21px;
  color: #e74c3c;
}

/* section three style */

.section-three {
  height: 515px;
  background-color: #6cc372;
}

.section-three-layout {
  margin-left: 10px;
  margin-right: 10px;
}

.section-three-row-layout {
  margin-left: -2px;
  margin-right: 6px;
}

.section-three h2 {
  font-size: 40px;
  letter-spacing: 6.5px;
  line-height: 24px;
}

.section-three p {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
}

.section-three .row {
  margin-top: 36px;
}

.section-three .card {
  width: 226px;
  height: 341px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 24px 0px;
}

.section-three .card .profile-img {
  width: 165px;
  height: 165px;
  border: 10px solid #6cc372;
  border-radius: 50%;
}

.section-three .card .name {
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #61af66;
  filter: drop-shadow(0px 1px 0.5px #ffffff);
}

.section-three .card .position {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 21px;
  color: #e74c3c;
  filter: drop-shadow(0px 1px 0.5px #ffffff);
}

.section-three .card button {
  width: 204px;
  height: 43px;
  border: 3px solid #6cc372;
  border-radius: 3px;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.3));
  background-color: #6cc372;
  margin-top: 12px;
}

.section-three .card .btn-text {
  font-size: 25px;
  letter-spacing: 3px;
}

.section-three .card .social {
  width: 32px;
  height: 26px;
}

/* section four styles */

.section-four .top-section {
  height: 559px;
  background-color: rgba(236, 236, 236, 0.8);
}

.section-four .top-section h2 {
  font-size: 40px;
  letter-spacing: 6.5px;
  line-height: 24px;
  color: #616161;
}

.section-four .top-section p {
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 24px;
  color: #61af66;
  margin-top: 20px;
  padding-top: -5px;
}

.section-four .top-section .work-title {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #61af66;
  margin-top: 20px;
}

.section-four .sectopn-4-carousel-layout {
  margin-left: -12px;
  margin-right: -13px;
}

.section-four .top-section .row {
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
}

.section-four .bottom-section {
  height: 371px;
}

.section-four .payment-layout {
  margin-left: 7px;
  margin-right: 7px;
  top: -140px;
}

.section-four .bottom-section .card {
  width: 300px;
}

.section-four .bottom-section .card-1 .card-header {
  height: 110px;
  border-radius: 6px 6px 0 0;
}

.section-four .bottom-section .middle-card .card-header {
  height: 140px;
}

.section-four .bottom-section .card-1 .card-header h2 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 19px;
  color: #616161;
  margin-top: 15px;
}

.section-four .bottom-section .card-1 .card-header h3 {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 25px;
  color: #eb4f4e;
  margin-top: 20px;
}

.section-four .bottom-section .middle-card .card-header h2 {
  color: #eb4f4e;
}

.section-four .bottom-section .middle-card .card-header h3 {
  color: #616161;
}

.section-four .bottom-section .card-1 .list-group-item {
  height: 50px;
  background-color: rgba(236, 236, 236, 0.8);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #616161;
}

.section-four .bottom-section .card-1 .card-footer {
  height: 92px;
  border-radius: 0 0 6px 6px;
  background-color: #616161;
}

.section-four .bottom-section .middle-card .card-footer {
  height: 92px;
  border-radius: 0 0 6px 6px;
  background-color: #eb4f4e;
}

.section-four .bottom-section .card-1 .card-footer .dollar {
  font-size: 32px;
}

.section-four .bottom-section .card-1 .card-footer .amount {
  font-size: 64px;
}

.section-four .bottom-section .card-1 .card-footer .duration {
  font-size: 25px;
}

.section-four .bottom-section .card-1 .card-footer .order-btn {
  border: 0px solid white;
  border-radius: 3px;
  padding: 0 20px;
  margin-right: -7px;
}

.section-four .bottom-section .card-1 .card-footer .order-btn a {
  font-size: 21px;
  letter-spacing: 1px;
  color: #616161;
  text-decoration: none;
}

.section-four .payment-text h2 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #eb4f4e;
  margin-top: 24px;
}

.section-four .middle-card .icon {
  top: 123px;
  left: 135px;
}

/* section five styles */
.section-five {
  height: 277px;
  background-color: #eb4f4e;
}

/* footer styles */
.footer .top-section {
  height: 48px;
  background-color: #232324;
}

.footer .footer-top-layout {
  margin-left: 7px;
  margin-right: 8px;
}

.footer .top-section .social-icons img {
  margin-left: 8px;
  margin-bottom: 7px;
}

.footer .top-section .copyright {
  margin-top: 7px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.6px;
}

.footer .top-section span {
  color: #eb4f4e;
}

/* footer styles */
.footer .bottom-section {
  height: 250px;
  background-image: url("assets/images/map.png");
  background-size: cover;
  background-position: bottom;
}

.footer .bottom-section .footer-box {
  width: 618px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(35, 35, 36, 0.9019607843137255);
  border-radius: 3px;
  opacity: 0.902;
  background-color: rgba(35, 35, 36, 0.9019607843137255);
}

.footer .bottom-section .footer-box h3 {
  font-size: 30px;
  line-height: 48px;
  color: #ffffff;
}

.footer .bottom-section .footer-box p {
  font-size: 18px;
  color: #eb4f4e;
}

.section-five .carousel {
  padding: 45px 50px;
}

.section-five .carousel h2 {
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 24px;
}

.section-five .carousel h3 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-top: 20px;
}

.section-five .carousel p {
  font-size: 21px;
  line-height: 36px;
  margin: 68px 315px;
}

.section-five .carousel img {
  top: 32.8%;
  left: 28.8%;
  width: 32px;
}

.slide-img-1 {
  margin-left: 0 !important;
  padding-left: 288px !important;
  padding-top: 63px !important;
  width: 775px !important;
  height: 486px !important;
}

.slide-img-2 {
  position: absolute;
  left: 0;
  top: 1px;
  left: 42px;
  z-index: 2;
  width: 969px;
  height: 602px;
}

.slide-img-3 {
  position: absolute;
  right: 0;
  top: 61px;
  right: 235px;
  z-index: 1;
  width: 775px;
  height: 486px;
}

/* Responsive Navbar Styles */
@media (max-width: 991px) {
  .navbar-logo {
    right: 50%;
    top: 10px;
    left: 0;
    display: none;
  }

  .section-one {
    height: 900px;
  }
}

@media (max-width: 1438px) {
  .slide-img-1 {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 20px 200px !important;
  }

  .slide-img-2 {
    display: none;
  }

  .slide-img-3 {
    display: none;
  }
}

@media (max-width: 1116px) {
  .slide-img-1 {
    width: 600px !important;
    height: 600px !important;
    padding: 0 !important;
    margin: 20px 150px !important;
  }
}

@media (max-width: 810px) {
  .slide-img-1 {
    width: 400px !important;
    height: 400px !important;
    padding: 0 !important;
    margin: 10px 150px !important;
  }

  .main-title {
    font-size: 35px;
  }
}

/* section two media queries */
@media (max-width: 768px) {
  .section-two {
    height: 800px;
  }

  .section-two .col-md-4 {
    margin-bottom: 16px;
  }

  .section-two h2 {
    font-size: 30px;
    letter-spacing: 6px;
    line-height: 24px;
  }
}

/* section three media queries */
@media (max-width: 1000px) {
  .section-three {
    height: 900px;
  }

  .section-three .col-sm-6 {
    margin-bottom: 16px;
  }

  .section-three h2 {
    font-size: 30px;
    letter-spacing: 6px;
    line-height: 24px;
  }
}

/* section four media queries */
@media (max-width: 1000px) {
  .section-four .bottom-section {
    height: 1450px;
  }

  .section-four .bottom-section .card {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-four .payment-layout {
    position: static;
    margin-top: 200px;
  }
}

/* footer media queries */
@media (max-width: 718px) {
  .footer .bottom-section .footer-box {
    width: 300px;
  }
}

@media (max-width: 1700px) {
  /* section five styles */
  .section-five {
    height: 477px;
  }

  .section-five .carousel img {
    left: 10%;
  }

  .section-five .carousel p {
    font-size: 21px;
    line-height: 36px;
    margin: 68px 100px;
    left: 0%;
  }
}

@media (max-width: 800px) {
  /* section five styles */
  .section-five {
    height: 477px;
  }

  .section-five .carousel img {
    left: 50%;
    display: none;
  }

  .section-five .carousel p {
    font-size: 21px;
    line-height: 36px;
    margin: 68px 20px;
  }
}
